.loginContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4px;
}
.loginContainer .titleContainer {
  display: flex;
  flex-direction: column;
  font-family: Outfit;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  /* letter-spacing: 1px; */
  background: linear-gradient(270deg, #df8908 10%, #b415ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loginContainer .titleContainer:hover {
  letter-spacing: 8px;
}
.loginContainer .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.loginContainer .errorLabel {
  font-size: 16px;
  margin: 0px 4px;
  visibility: hidden;
}

.loginContainer .inputContainer > .inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}
.loginContainer .inputContainer > .inputBox:focus {
  border: 1px solid #df8908;
  background: linear-gradient(
    270deg,
    rgba(223, 137, 8, 0.2),
    rgba(180, 21, 255, 0.1)
  );
  /* background: rgba(223, 137, 8, 0.1); */
  outline: none;
  color: white;
}

.loginContainer .goSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}
.loginContainer .goSignup .goSignupPara {
  color: white;
}
.loginContainer .goSignup .goSignupLink {
  color: white;
  transition: 0.3s;
}
.loginContainer .goSignup .goSignupLink:hover {
  transform: scale(1.2);
}

.loginContainer .submitContainer > .submitButton {
  border: none;
  /* background: cornflowerblue; */
  background: linear-gradient(270deg, #df8908 10%, #b415ff);
  color: white;
  padding: 10px 18px;
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.loginContainer .submitContainer > .submitButton:active {
  transform: scale(0.98);
}
